.App {
  text-align: center;
}

.App-header {
  background-color: #6079ad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 6, 6);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.email-container {
  background-color: lightblue;
  padding: 20px;
  text-align: center; 
  min-height: 180px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.email-input {
  width: 18rem;
  margin-right: 20px;
}
.masked-Email {
  display: flex;
  align-items: center;
  gap: 120px;
  margin-top: 10px; 
}
.notification {
  position: fixed;
  top: 6rem; 
  left: 50%;
  transform: translateX(-50%);
  background-color: white; 
  color: blue; 
  padding: 10px;
  border-radius: 5px;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.button_Mask_Limpar {
  margin-left: 10px;
  width : 25rem;
  width: 5rem;
}
.button_Copy {
  margin-top: 10px;
  height: 3rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}